USE [master]
GO
/****** Object:  Database [QuanLyCaPhe]    Script Date: 9/29/2026 4:41:44 PM ******/
CREATE DATABASE [QuanLyCaPhe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCaPhe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyCaPhe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCaPhe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyCaPhe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCaPhe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCaPhe]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 9/29/2026 4:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDon] [int] NOT NULL,
	[TenMon] [nvarchar](200) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 9/29/2026 4:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[TenBan] [nvarchar](50) NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[TienKhachDua] [decimal](18, 2) NOT NULL,
	[TienThua] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiMon]    Script Date: 9/29/2026 4:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiMon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 9/29/2026 4:41:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](100) NOT NULL,
	[Gia] [float] NOT NULL,
	[HinhAnh] [nvarchar](500) NULL,
	[MaLoai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([MaChiTiet], [MaHoaDon], [TenMon], [DonGia], [SoLuong], [ThanhTien]) VALUES (1, 1, N'Bạc xỉu', CAST(45000.00 AS Decimal(18, 2)), 1, CAST(45000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaChiTiet], [MaHoaDon], [TenMon], [DonGia], [SoLuong], [ThanhTien]) VALUES (2, 1, N'Matcha latte', CAST(60000.00 AS Decimal(18, 2)), 1, CAST(60000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaChiTiet], [MaHoaDon], [TenMon], [DonGia], [SoLuong], [ThanhTien]) VALUES (3, 2, N'Cà phê hạnh nhân', CAST(55000.00 AS Decimal(18, 2)), 1, CAST(55000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayLap], [TenBan], [TongTien], [PhuongThucThanhToan], [TienKhachDua], [TienThua]) VALUES (1, CAST(N'2026-09-29T15:31:53.517' AS DateTime), N'Bàn 01', CAST(105000.00 AS Decimal(18, 2)), N'Tiền mặt', CAST(200000.00 AS Decimal(18, 2)), CAST(95000.00 AS Decimal(18, 2)))
INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayLap], [TenBan], [TongTien], [PhuongThucThanhToan], [TienKhachDua], [TienThua]) VALUES (2, CAST(N'2026-09-29T16:10:24.927' AS DateTime), N'Bàn 08', CAST(139000.00 AS Decimal(18, 2)), N'Chuyển khoản', CAST(139000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayLap], [TenBan], [TongTien], [PhuongThucThanhToan], [TienKhachDua], [TienThua]) VALUES (3, CAST(N'2026-09-29T16:14:23.167' AS DateTime), N'Bàn 02', CAST(65000.00 AS Decimal(18, 2)), N'Tiền mặt', CAST(70000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiMon] ON 

INSERT [dbo].[LoaiMon] ([ID], [TenLoai]) VALUES (1, N'Cà phê')
INSERT [dbo].[LoaiMon] ([ID], [TenLoai]) VALUES (2, N'Trà')
INSERT [dbo].[LoaiMon] ([ID], [TenLoai]) VALUES (3, N'Matcha')
SET IDENTITY_INSERT [dbo].[LoaiMon] OFF
GO
SET IDENTITY_INSERT [dbo].[MonAn] ON 

INSERT [dbo].[MonAn] ([ID], [TenMon], [Gia], [HinhAnh], [MaLoai]) VALUES (1, N'Cà phê đen', 35000, N'cfdenda.jpg', 1)
INSERT [dbo].[MonAn] ([ID], [TenMon], [Gia], [HinhAnh], [MaLoai]) VALUES (2, N'Cà phê sữa', 40000, N'suada.jpg', 1)
INSERT [dbo].[MonAn] ([ID], [TenMon], [Gia], [HinhAnh], [MaLoai]) VALUES (3, N'Bạc xỉu', 45000, N'bacxiu.jpg', 1)
SET IDENTITY_INSERT [dbo].[MonAn] OFF
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TienKhachDua]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TienThua]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiMon] ([ID])
GO
USE [master]
GO
